@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1rem;
  color: #213547;
  border: none;
  @apply bg-gray-300;
}
hr {
  @apply border border-gray-300;
}
*:focus {
  outline: none;
}
